@import "nav.css";
@import "media.css";
@import "style.css";

.container1 {
    margin-right: 10%;
    margin-left:10%;
    width: 80%;
    height: 25rem;
    background-color: #dfe4ea;
    border-radius: 1rem;
    padding: 0.5rem;
}